{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Controlo de Versões GIT</h1>
    <p> instalar o git
        <a href="https://git-scm.com/">https://git-scm.com/</a>
    </p>
    <p> verificar a versão do git
        <code>git --version</code>
    </p>
    <p>começar um repositório local 
        <code>git init</code>
    </p>
    <p>
        staging area<br>
        <img src="{% static 'git_staging_area.png' width='300' %}">
    </p>
    <p>podemos adicionar um ficheiro ao 
        "staging area/ficheiros prontos para a próxima versão do programa" <br>
        <code>git add nomeficheiro</code> 
        <br>
        <code>git add .</code>
    </p>
    <p>
        para efetuar um commit / gravar uma versão do código
        <code>git commit -m "mensagem com informação útil sobre o estado da app"</code>
    </p>
    <p>
        pode ser necessário configurar o autor e seu email
        <code>git config --global user.email "you@example.com"</code>
        <code>git config --global user.name "Your Name"</code>
    </p>
    <p>consultar as várias versões da aplicação / vários commits
        <code>git log</code>
        <br>
        <code>git log --oneline</code>
    </p>
    <p>
       <p>para ver uma dada versão anterior do código:<br>
        <code>git checkout codigocommit</code>
       <p>para sair:
          <code>git switch master</code> ou <code>git switch main</code>
       </p>
    </p>
    </p>
</body>
</html>